@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body, html {
  font-family: 'Roboto', sans-serif;
}
.main-container {
  width: 100%;
}

.title {
  width: 100%;
  text-align: center;
}

.content {
  width: 100%;
}

.procesos-container, .container-graficas{
  width: 100%;
  float:left;
}

.procesos-container > div:first {
  width: 100%;
}
.procesos-container .lista-procesos, .procesos-activos, .procesos-finalizados{
  width: 33%;
  float: left;
}

.container-graficas > div:fisrt{
  width: 100%;
}

.container-graficas .cpu-grafica, .ram-grafica, .hdd-grafica{
  width: 33%;
  float: left;
}