@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body, html {
  font-family: 'Roboto', sans-serif;
}
.main-container {
  width: 100%;
}

.title {
  width: 100%;
  text-align: center;
}

.content {
  width: 100%;
}

.procesos-container, .container-graficas{
  width: 100%;
  float:left;
  margin-bottom: 40px;
}

.procesos-container > div:first {
  width: 100%;
}
.procesos-container .lista-procesos, .procesos-activos, .procesos-finalizados{
  width: 33%;
  float: left;
}

.container-graficas > div:fisrt{
  width: 100%;
}

.container-graficas .cpu-grafica, .ram-grafica, .hdd-grafica{
  width: 33%;
  float: left;
}

.lista-procesos .list-procesos, .procesos-activos .list-procesos-activos, .procesos-finalizados .list-procesos-finalizados {
  margin: 5px 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.lista-procesos h2, .procesos-activos h2, .procesos-finalizados h2 {
  margin: 5px 10px;
  text-align: center;
}

.list-item{ 
  padding: 5px 7px;
  border-bottom: 1px solid #e3e3e3;
  cursor: pointer;
  transition: 0.3s all;
}
.list-item:hover {
  padding: 10px;
  background-color: #e3e3e3;
}

.list-item .list-item-id,
.list-item-nombre,
.list-item-cpu,
.list-item-ram,
.list-item-hdd {
  float: left;
}

.list-item-id {
  width: 9%;
}

.list-item-nombre{
  width: 45%;
}

.list-item-cpu, .list-item-hdd, .list-item-ram {
  width: 10%;
}

.list-item-execution {
  text-align: right;
}
